/TddKatasInJavaScript/node_modules/
/TddKatasInPhp/nbproject/private/
/TddKatasInVisualBasic/Common/bin/
/TddKatasInVisualBasic/Common/obj/
/TddKatasInVisualBasic/packages/
/TddKatasInVisualBasic/Test/bin/
/TddKatasInVisualBasic/Test/obj/
/TddKatasInVisualBasic/TestResults/
/TddKatasInVisualBasicCore/Common/bin/
/TddKatasInVisualBasicCore/Common/obj/
/TddKatasInVisualBasicCore/Test/bin/
/TddKatasInVisualBasicCore/Test/obj/
/TddKatasInVisualCSharp/Common/bin/
/TddKatasInVisualCSharp/Common/obj/
/TddKatasInVisualCSharp/packages/
/TddKatasInVisualCSharp/Test/bin/
/TddKatasInVisualCSharp/Test/obj/
/TddKatasInVisualCSharp/TestResults/
/TddKatasInVisualCSharpCore/Common/bin/
/TddKatasInVisualCSharpCore/Common/obj/
/TddKatasInVisualCSharpCore/Test/bin/
/TddKatasInVisualCSharpCore/Test/obj/
/TddKatasInVisualCPlusPlus/Common/Debug/
/TddKatasInVisualCPlusPlus/Debug/
/TddKatasInVisualCPlusPlus/Test/Debug/