/TddKatasInJavaScript/node_modules/
/TddKatasInPhp/nbproject/private/
/TddKatasInVisualCSharpCore/Common/bin/
/TddKatasInVisualCSharpCore/Common/obj/
/TddKatasInVisualCSharpCore/Test/bin/
/TddKatasInVisualCSharpCore/Test/obj/